{% extends 'blog/base.html' %}
{% load static %}
{% block nav %}{% include 'blog/navigation.html' %}{% endblock %}

{% block content %}



    <div class="col-8 ">

        <div class="row">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-footer">

                         <div class="form-group d-flex justify-content-center mt-5">
                                <h4 class="text-success" style="width: 60%;" type="submit">You definitely want to delete this post</h4>
                            </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group d-flex justify-content-center mt-5">
                                <button class="btn btn-warning" style="width: 33%;" type="submit">YES</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}